<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>HATCH Membership System</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootflat.github.io/bootflat/css/bootflat.css">

    <style>
        .namefield {
            width: 200px;
            height: 50px;
            border: 1px solid #999999;
            padding: 5px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="container-full">
        <div class="row">
            <div class="col-lg-12 text-center v-center">
                <h1><a>Sign Up</a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center v-center">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label>First Name</label>
                        <input id="first-name-input" name="first-name" class="element text namefield" maxlength="255" value="" />
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label>Last Name</label>
                        <input id="last-name-input" name="last-name" class="element text namefield" maxlength="255" value="" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="description">Town of Residence </label>
                        <input id="town-input" name="town" class="element text medium namefield" maxlength="255" value="Watertown" />
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="description">Library Card Number </label>
                        <input id="element_3" name="element_3" class="element text medium namefield" maxlength="255" value="" />

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center v-center">
                    <label class="description">Date of Birth </label>
                    <input id="element_4_1" name="element_4_1" class="element text" size="2" maxlength="2" value="" type="text"> /
                    <label for="element_4_1">MM</label>
                    <input id="element_4_2" name="element_4_2" class="element text" size="2" maxlength="2" value="" type="text"> /
                    <label for="element_4_2">DD</label>
                    <input id="element_4_3" name="element_4_3" class="element text" size="4" maxlength="4" value="" type="text">
                    <label for="element_4_3">YYYY</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center v-center">
                    <input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
                </div>
            </div>
            </form>
        </div>
    </div>
    </div>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <!-- Bootflat's JS files.-->
    <script src="https://bootflat.github.io/bootflat/js/icheck.min.js"></script>
    <script src="https://bootflat.github.io/bootflat/js/jquery.fs.selecter.min.js"></script>
    <script src="https://bootflat.github.io/bootflat/js/jquery.fs.stepper.min.js"></script>
</body>

</html>