<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>HATCH Membership System</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootflat.github.io/bootflat/css/bootflat.css">
</head>
<body>
<div class="container-full">

    <div class="row">

        <div class="col-lg-12 text-center v-center">

            <h1>Welcome to HATCH</h1>
            <p class="lead">Please check in or sign up:</p>
            <div class="col-lg-6">
                <a type="button" class="btn btn-primary btn-block" href="checkin/">Check In</a>
            </div>
            <div class="col-lg-6">
                <a type="button" class="btn btn-warning btn-block" href="signup/">Sign Up</a>
            </div>

        </div>
    </div>
</div>

<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!-- Bootflat's JS files.-->
<script src="https://bootflat.github.io/bootflat/js/icheck.min.js"></script>
<script src="https://bootflat.github.io/bootflat/js/jquery.fs.selecter.min.js"></script>
<script src="https://bootflat.github.io/bootflat/js/jquery.fs.stepper.min.js"></script>
</body>
</html>